.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.bg-red {
  background-color: maroon;
}

.round {
  border-radius: 20px;
}

.round-btn {
  border-radius: 20px;
  padding: 0px 12px;
}

.bg {
  background-image: url("https://i.ibb.co/h1vbrJ4/Scrutineer-splash-Page-v1-900.png");
    /* Full height */
    height: 100vh;
    

    /* Center and scale the image nicely */
    background-repeat: no-repeat;
    background-size: cover;
    overflow: scroll;
}

.bg-maroon {
  background-color: rgb(47,2,35);
}

.show-welcome {
  opacity: 1;
  transform: translateY(15px);
  transition: opacity 2s ease, transform 2s ease;
}

.bg-greybooks {
  /* background-image: url("https://i.ibb.co/c6Bdh5k/Books-Black-and-white-background.png"); */
  background-image: url("https://i.ibb.co/6X6r3Nc/bg-greybooks-v20220204.png");
    /* Full height */
    height: 100vh; 

    /* Center and scale the image nicely */
    background-repeat:repeat;
    background-size: cover;
    overflow: scroll;
}

.link-noline {
  text-decoration: none;
}

.navbar-absolute {
  position: fixed;
  width: 100%;
  top: 0px;
}

.show-stack-window {
  height: 50vh;
  overflow: scroll;
}